{{- $title := .Title | default "Supporters" -}}
{{- $supporters := .Supporters -}}
{{- if not $supporters }}
    {{ warnf "supporters-card partial chamado sem Supporters" }}
{{- end -}}

{{- with $supporters }}
<div class="bg-bg-primary-light dark:bg-bg-secondary-dark p-6 md:p-8 rounded-lg mb-8 border border-border-primary-light dark:border-border-primary-dark">
    <h2 class="text-2xl md:text-3xl font-bold mb-4 md:mb-6 text-text-primary-light dark:text-text-primary-dark">{{ $title }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{- range . }}
            {{ partial "supporter" . }}
        {{- end }}
    </div>
</div>
{{- end }}
